<head>

</head>

<body>

    {% include "index/includes/navbar.html" %}

    {% include "index/includes/messages.html" %}


    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>


    <div>
        <ul>
            <li>
                <form id="search-nav"  method="get" accept-charset="utf-8">
                        <input type="text" name="query" id ="querynav" placeholder="Chercher un produit" required>
                </form>
            </li>
        </ul>

        <button class="button" type="button">
            Submit
        </button>

    </div>

</body>


