<head>

</head>

<body>
    <p>
          connexion <br>
        Input <br>
            jqueryui.autocomplete <br>
            research <br>
                result <br>

    </p>
    <div>
        <ul>
            <li>
                <form id="search-nav"  method="get" accept-charset="utf-8">
                        <input type="text" name="query" id ="querynav" placeholder="Chercher un produit" required>
                </form>
            </li>
        </ul>

        <button class="button" type="button">
            Submit
        </button>

    </div>

</body>


